<div data-page="game1" class="page">
	<div class="page-content">
		<div class="content-block">
			<div ng-controller="modeController" class="container--fluid">

				<h2 style="text-align: center;">Game Mode</h2>
				<div class="game-mode-list scrollable-list" ng-controller="modeController">
					<!-- Repeat BEGIN -->
					<li class="gameMode-{{$index}}" ng-repeat="mode in gameModes track by $index">
						<a href="game1.html" class="row" ng-click="selectGameMode($index)">
							<div class="col-4">
								<img class="list-image" src="{{mode.imageUrl}}">
							</div>
							<div class="col-8">
								<h5>{{mode.title}}</h5>
								{{mode.description}}
							</div>
						</a>
					</li>
					<!-- Repeat END -->
				</div>
			</div>
		</div>
	</div>
</div>
